/*eslint-disable no-debugger*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Custom Properties */
:root {
  
  /* --ff-primary: 'Playfair Display', serif; */
  --ff-primary: 'Montserrat', 'sans-serif';
  --ff-secondary: 'Montserrat', sans-serif;
  --ff-secondary: 'Josefin Slab', serif;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #fff;
  --clr-dark: #000000;
  --clr-light-dark: #2c2c2c;
  --clr-light-blue: rgb(40, 194, 241);
  --clr-yellow: rgb(223, 209, 15);

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-h4: 1.15rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25), 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

/* general style */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

/* button */

.btn {
  display: inline-block;
  width: 20rem;
  padding: 0.5em 2.5em;
  background-color: var(--clr-yellow);
  color: var(--clr-dark);
  text-decoration: none;
  cursor: pointer;
  font-size: 0.8rem;
  letter-spacing: 2px;
  transition: transform 200ms ease-in-out;
}

/* Typography */

h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}

.main {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: url('./image/freeimg_45380972freejpg850.jpg');
  background-size: cover;
  background-blend-mode: lighten;
  background-repeat: no-repeat;
}


.wrap {
  padding-bottom: 4rem;
}

@media (max-width: 1024px) {
  .main {
    background-size: 100% 100%;
  }

}

/* header */
/* nav {
  width: 100%;
  height: auto;
  z-index: 20;
  padding: 0.2em;
  color: var(--clr-light);
  background-color: var(--clr-dark);
  margin-bottom: 2em;
 
} */

.nav-list {
  display: none;
}

.logo {
  max-width: 65px;
}

ul {
  list-style-type: none;
}

.nav-item {
  display: inline-block;
  padding: 0.75em;
}

.link {
  text-decoration: none;
  color: var(--clr-light);
}

.link:focus {
  outline: 2px solid var(--clr-light-blue);
}

.link:hover {
  text-decoration: none;
  color: cornflowerblue
}

.logo {
  max-width: 65px;
}

.hamburger {
  display: none;
  background-color: transparent;
  border: 0;
  color: var(--clr-dark);
  font-size: 20px;
  cursor: pointer;
}

.close {
  display: none;
  background-color: transparent;
  border: 0;
  color: var(--clr-dark);
  font-size: 20px;
  cursor: pointer;
}

@media (max-width: 768px) {
  nav {
    position: relative;
    overflow: hidden;
  }

  .nav-list {
    display: none;
  }

  .nav-item {
    letter-spacing: 0.5rem;
    padding: 1rem;
  }

  nav-list.show {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 300px;
    transition: height 0.25s ease;
  }

  .hamburger {
    display: block;
  }

  .close {
    display: none;
  }
  .content {
    width: 100%;
    padding: 0px;
    font-family: 'Nunito', sans-serif;
    color: #f3f3f3;
    line-height: 153%;
    letter-spacing: 0.05em;
}
}

/*  Home page  */

.content {
  width: 50%;
  padding: 100px 120px;
  font-family: 'Nunito', sans-serif;
  color: #f3f3f3;
  line-height: 153%;
  letter-spacing: 0.02em;
}

.content .content_body h3{
  font-size: 40px;
  padding-bottom: 10px;

}

.jumbotron {
  max-width: 50%;
  margin: 6rem auto 3rem;
  padding: 1rem;
  background-color: var(--clr-yellow);
}

.header-footer {
  padding-top: 2rem;
}

.btnlink {
  margin: 2rem auto;
}

.outlineNone {
  outline: none;
}

.outlineNone:hover {
  text-decoration: none;
}

@media (max-width: 768px) {
  .jumbotron {
    width: 95%;
    margin-top: 5rem;
  }

  .btnlink {
    width: 15rem;
  }
}

/* footer */

.footer {
  width: 100%;
  height: 15rem;
  background-color: var(--clr-light-dark);
}

.footerlist {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

.footerlink a{
  display: inline-block;
  margin-top: 1rem;
  margin-left: 2rem;
  text-decoration: none;
  color: aliceblue;
}

.footerlink a:hover{
  display: inline-block;
  margin-top: 1rem;
  margin-left: 2rem;
  text-decoration: none;
  color: cornflowerblue;
}

/*  sign up/sign in page  */

.form-header {
  color: var(--clr-light);
}
/* 
.form {
  margin-top: 4rem;
} */
/* .form-group {
  margin-bottom: 10px !important;
} */
.form-control {
  width: 400px;
  margin: 0 auto;
}

input[type='radio'] {
  margin-left: 1rem;
}

.input-icon {
  display: inline-block;
  position: relative;
}

.input-signin {
  width: 300px;
  height: 40px;
  padding: 0.5em 0.5em 0.5em 2.2em;
}

.icon-input {
  position: absolute;
  top: 2px;
  left: 0;
  padding-left: 0.2em;
  font-size: var(--fs-h3);
  font-weight: var(--fw-bold);
  color: var(--clr-light-dark);
  z-index: 100;
}

.gender-label,
.profile-pic,
.course,
.gpa
 {
  color: var(--clr-light);
}

.course,
.gpa{
  padding-right: 2rem;
}

.btnSubmit {
  display: inline-block;
  min-width: 8rem;
  padding: 0.5em 1.5em;
  background-color: var(--clr-light-dark);
  color: var(--clr-light);
  text-decoration: none;
  cursor: pointer;
  font-size: 1.3rem;
  letter-spacing: 2px;
  transition: transform 200ms ease-in-out;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  outline: none;
}

/* Dashboard */

.dashboard {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: var(--clr-light);
}

 .profile-item img {
  width: 150px;
  height: 150px; 
}

.profile-pic img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.space-before-footer {
  padding-bottom: 7rem;
}

.main-wrap {
  width: 70%;
  padding: 2rem;
  margin: 0 auto;
  background-color: var(--clr-yellow);
  color: var(--clr-light-dark);
}

.wrap-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.data-item {
  width: 500px;
  height: 350px;
  padding: 2rem;
  font-size: var(--fs-h4);
}

.right {
  float: right;
  margin-right: 8rem;
}



/* background-color: #b2b2b2; */

 .flex-data {
  display: flex;
}

.flex-data-item {
  padding: 2em;
} 

/* styling active links */
nav .nav-list .nav-item .link.active {
  color: #ffd700;
  opacity: 0.8;
}

/* styling the profile picture and info */
.profile-info {
  display: flex;
  justify-content: space-between;
}

.profile-info-item {
  margin: 0 2em 0 0;
  padding: 1em 0 0 1em;
}

.profile-info h6 {
  color: #ffd700;
  font-weight: bolder;
}

/* some modifications to the flex items  */

.flex-wrap{
  padding:0 10%;
}

.flex-wrap .flex-item {
  width: 100%;
  height: 30%;
  border: 1px solid #ccc;
  margin-bottom:2em;
  border-radius: 30px;
  box-shadow: 1px 4px 4px #ccc;
}


.footer-distributed{
	background: #666;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  lightseagreen;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

.nav_flex{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-self: center;
  align-items: center;
  margin: 0px 20px 20px 20px ;
  padding: 0px 100px;
  font-family: 'Nunito', sans-serif;
  border-bottom: 1px solid rgb(151, 152, 153)
}

.nav_flex .nav_link {
  padding: 21px 10px;
  color: aliceblue;
}
.logoImage{
  flex: 1;
}
 .spanlink{
 flex: 0;
}

 .current{
  border-bottom: 1px solid aliceblue;
 
}

@media screen and (max-width: 992px) { 
  .nav_flex{
    display: none;
  }
  .content {
    width: 100%;
    padding: 15px;
    font-family: 'Nunito', sans-serif;
    color: #ccc;
    line-height: 153%;
    letter-spacing: 0.02em;
}
}

.getstarted{
  width: 30%;
  padding: 10px 10px ;
  background: #2f558d;
  border-radius: 5px;
  color:#f3f3f3 ;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 139.13%;
  /* identical to box height, or 19px */

  text-align: center;
  letter-spacing: 0.02em;
}

.bodyimg{
  padding-left: 5px;
}
.navLink{
  color:#f3f3f3 ;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color:#f3f3f3 ;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  text-align: center;
  padding: 10px;
  position:fixed;
  background: white;
  width: 13%;
  height: auto;
  top:30%;
  left:50%;
  transform: translate(-50%,-50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
.modal-main button{
  background-color: rgb(40, 194, 241); 
  padding: 5px 15px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
